
<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <h2 style="text-align: center;">Booked Schedules</h2>
<div class="bg">


<table class="table table-border table-striped">
  <thead>
    <tr>
      <th>Passenger Name</th>
      <th>Departure Date</th>
      <th>Source</th>
      <th>Destination</th>
     
      <th>Payment Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let schedule of bookedSchedules">
      <td>{{ schedule.passengerName }}</td>
      <td>{{ schedule.departureDate }}</td>
      <td>{{ schedule.source }}</td>
      <td>{{ schedule.destination }}</td>
      
      <td>{{ schedule.paymentStatus }}</td>
      <td>
        <!-- <button (click)="updateSchedule(schedule)">Update</button> -->
        <button (click)="deleteSchedule(schedule.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>


<ng-template #updateModal let-modal>
 
</ng-template>
</div>

<!-- <div *ngFor="let schedule of bookedSchedules">
    <div>
      <h4>{{ schedule.passengerName }}</h4>
      <p>Departure Date: {{ schedule.departureDate }}</p>
      <p>Source: {{ schedule.source }}</p>
      <p>Destination: {{ schedule.destination }}</p>
      <p>Details: {{ schedule.details }}</p>
      <p>Payment Status: {{ schedule.paymentStatus }}</p>
  
      <button (click)="updateSchedule(schedule)">Update</button>
      <button (click)="deleteSchedule(schedule.id)">Delete</button>
    </div>
  </div>
   -->
 
  
  