
@import "~bootstrap/dist/css/bootstrap.min.css";
.bg{
    margin: 20px 100px 20px 100px;
    border: 2px solid black;
}
table {
  margin-top: 20px;
}

th, td {
  text-align: center;
}


.modal-header {
  background-color: #007bff;
  color: #ffffff;
}

.modal-body {
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
