
<head>
    <title>BUS BOOKING </title>
  
  <style>
    body{
      background-color: pink;
      
    }
  </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
    <div id="myPage">
    
        <div class="w3-top">
            <div class="w3-bar w3-theme-d2 w3-left-align">
           <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a class="w3-bar-item w3-button w3-coral"><i class="fa fa-home w3-margin-right"></i>UNIQUE TRAVELLERS</a>
            <a routerLink="/home" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
           
                
                <a [routerLink]="['/list']" class="w3-bar-item w3-button w3-hide-small w3-hover-white">BUS_LIST</a>
                <a [routerLink]="['/busbooking']" class="w3-bar-item w3-button w3-hide-small w3-hover-white">BUS_BOOKING</a>
                
                <a [routerLink]="['/reschedule']" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Reschedule</a>
                <a [routerLink]="['/cancel']" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Cancelation</a> 
                <a [routerLink]="['/history']" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Historic</a>
              
               
                <div class="w3-dropdown-hover w3-hide-small">
                  <button class="w3-button" title="Notifications">Admin <i class="fa fa-caret-down"></i></button>     
                  <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a routerLink="/adbook" class="w3-bar-item w3-button">Book</a>
                    <a routerLink="/buslist"class="w3-bar-item w3-button">BookedList</a>
                    <a routerLink="/busschedule"class="w3-bar-item w3-button">Schedule</a>
                    <a routerLink="/bookedpage"class="w3-bar-item w3-button">Booked Page</a>
                    <a routerLink="/login"class="w3-bar-item w3-button">LOGOUT</a>
                    
              </div>
              </div>
              <a [routerLink]="['/feedback']" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Feedback</a>
              <a routerLink="/register" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Register</a>
              <a routerLink="/login"class="w3-bar-item w3-button">LOGOUT</a>
            
            </div>
       <router-outlet></router-outlet>  
             </div>
        </div>


       
</body> 




