<head>

  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
  
  



<div class="container">
    <h2 style="text-align: center;">Bus Booking List</h2>
  
    <table class="table">
      <thead>
        <tr>
          <th>Bus Name</th>
          <th>Departure Date</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bus of bookedBuses">
          <td>{{ bus.name }}</td>
          <td>{{ bus.departureDate }}</td>
          <td>{{ bus.source }}</td>
          <td>{{ bus.destination }}</td>
          <td>
            <button (click)="editBus(bus)">Edit</button>
            <button (click)="deleteBus(bus)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  