
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: 0px 90px 90px 60px ;
    border: 2px solid black;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
  nav {
    background-color: #eee;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  section {
    margin: 20px 0;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
 
  .card {
    background-color: #131313;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  

  
  .bg{
    background-image: url('https://www.chetu.com/img/payments/payments-main/sliderbg/payments-banner-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
   
  }
  
