<body>

    <h1>Bus History Details</h1>
  
      <table border="40"  width="1500" height="700">
      
      <thead>
        <tr>
          <th>BUS NAME</th>
          <th>BUS NUMBER</th>
          <th>PASSENGER NAME</th>
          <th>FROM PLACE</th>
          <th>TO PLACE</th>
          <th>DATE</th>
          <th>SEAT NUMBER</th>
        </tr>
      </thead>
      <tbody>
        <!-- Use Angular *ngFor directive to loop through historical bookings -->
        <tr>
          <td>A1 </td>
          <td>AG-006</td>
          <td>KAVIN</td>
          <th>DELHI</th>
          <th>BIHAR</th>
          <td>27-04-2023</td>
          <td>4C</td>
        </tr>
        <tr>
          <td>A2</td>
          <td>NH-1112</td>
          <td>GEORGE</td>
          <th>PATNA</th>
          <th>JAIPUR</th>
          <td>01-03-2023</td>
          <td>5A</td>
        </tr>
        <tr>
          <td>B1</td>
          <td>BM 440</td>
          <td>ARVIND</td>
          <th>TRICHY</th>
          <th>MANGALORE</th>
          <td>31-10-2023</td>
          <td>9D</td>
        </tr>
        <tr>
          <td>B2</td>
          <td>MDC 3802</td>
          <td>PAVAN</td>
          <th>COIMBATORE</th>
          <th>KERALA</th>
          <td>17-05-2023</td>
          <td>1A</td>
        </tr>
        <tr>
          <td>C1</td>
          <td>JK 2370</td>
          <td>KAVYA</td>
          <th>ANDHRA</th>
          <th>GOA</th>
          <td>15-08-2023</td>
          <td>2D</td>
        </tr>
        <tr>
          <td>C2</td>
          <td>RJ-O-2998</td>
          <td>BHARATHI</td>
          <th>BANGLORE</th>
          <th>CHENNAI</th>
          <td>11-09-2023</td>
          <td>3E</td>
        </tr>
        <tr>
          <td>D1</td>
          <td>BS-1624</td>
          <td>PAVITHRA</td>
          <th>PUNE</th>
          <th>MUMBAI</th>
          <td>03-07-2023</td>
          <td>7G</td>
        </tr>
        <tr>
          <td>D2</td>
          <td>W 1567</td>
          <td>NITHYAM</td>
          <th>COIMBATORE</th>
          <th>BANGLORE</th>
          <td>19-07-2023</td>
          <td>4C</td>
        </tr>
        <tr>
          <td>E1</td>
          <td>CPF 550</td>
          <td>JEGAN</td>
          <th>CHENNAI</th>
          <th>HYDERABAD</th>
          <td>10-12-2023</td>
          <td>7E</td>
        </tr>
        <tr>
          <td>E2</td>
          <td>MCP 1022</td>
          <td>VENKAT</td>
          <th>MUMBAI</th>
          <th>DELHI</th>
          <td>25-04-2023</td>
          <td>9J</td>
        </tr>
  
      </tbody>
    </table>
  
  </body>
