
<head>

  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
  
  





     <div class="body">
    <b><h1 style="text-align: center;">Bus Booking Page</h1></b>
      <div class="container">
   
    <form (ngSubmit)="bookBus()" #bookingForm="ngForm">
     <!-- <h2 style="text-align:center;">Bus Booking</h2> -->
     <div class="form-group">
      <label for="number">Bus Number:</label>
      <input type="number" id="number" name="number" [(ngModel)]="busNumber" required>
    </div>
      <div class="form-group pr-2">
        <label for="busName">Bus Name:</label>
        <input type="text" id="busName" name="busName" [(ngModel)]="busName" required>
      </div>
     
  
      <div class="form-group">
        <label for="departureDate">Departure Date:</label>
        <input type="date" id="departureDate" name="departureDate" [(ngModel)]="departureDate" required>
      </div>
  
      <div class="form-group">
        <label for="source">Source:</label>
        <input type="text" id="source" name="source" [(ngModel)]="source" required>
      </div>
  
      <div class="form-group">
        <label for="destination">Destination:</label>
        <input type="text" id="destination" name="destination" [(ngModel)]="destination" required>
      </div>
     
  <div>

    <button type="submit" class="btn btn-primary mr-4" >Data</button>
  </div>
  
    </form>
    <a href="/seat"><button  class="btn btn-success ml-4">BOOK NOW</button></a> 
  <div class="data">
    <h1 style="color: black;">Available Buses</h1>
    
    <!-- <ul>
      <li *ngFor="let bus of availableBuses" style="color: black;">
        
       
      </li> 
    </ul> -->
  
        <!-- {{ bus.name }} - Departure Date: {{ bus.departureDate }} - Source: {{ bus.source }} - Destination: {{ bus.destination }} -->


        <table class="table table-border table-stripe">
          <thead>
            <tr>
              <th>Bus Number</th>
              <th>Bus Name</th>
              <th>Departure Date</th>
              <th>Source</th>
              <th>Destination</th>
              <!-- <th>Actions</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bus of availableBuses">
              <td>{{ bus.busnumber }}</td>
              <td>{{ bus.name }}</td>
              <td>{{ bus.departureDate }}</td>
              <td>{{ bus.source }}</td>
              <td>{{ bus.destination }}</td>
              <td>
                <!-- <button (click)="editBus(bus)">Edit</button>
                <button (click)="deleteBus(bus)">Delete</button> -->
              </td>
            </tr>
          </tbody>
          <table>

    
        
          <div>
            
          </div>
 
